* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: var(--primary-font);
}

body{
    /* background-color: #041425; */
    background-color: #ffffff;
}

h1,h2,h3,h4{
    font-family: var(--main-font);
}

.fs-custom-p {
    font-size: 0.75em;
    line-height: 1.3em;
}

.fs-custom-p2 {
    font-size: 1em;
    line-height: 1.3em;
}

:root {
    --main-color: #1566C0;
    --primary-color: ;
    --secondary-color: #F5C344;
    --main-font: 'Righteous', cursive;
    --primary-font: 'Roboto', sans-serif;
    
}

/* ---- Text color ----------- */

.text-main-color {
    color: var(--main-color);
}

.text-primary-color {
    color: var(--primary-color);
}

.text-secondary-color {
    color: var(--secondary-color);
}

.text-my-black {
    color: #212429;
}
/* ---- border color ----------- */

.border-main-color {
    border-color: var(--main-color) !important;
}

.border-primary-color {
    border-color: var(--primary-color) !important;
}

.border-secondary-color {
    border-color: var(--secondary-color) !important;
}



.bg-main-color {
    background-color: var(--main-color);
}

.header {
    background: url(./media/header.jpg);
    width: 100%;
    min-height: 300px;
    height: 70vh;
    min-height: 650px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header-overlay {
    background: linear-gradient(rgba(0, 0, 0, 0.9) 10%, rgba(0, 0, 0, 0.7) 30%, rgba(0, 0, 0, 0.3) 70%);
    width: 100%;
    min-height: 300px;
    height: 70vh;
    min-height: 650px;
}

.img-custom-1{
    position: absolute;
    bottom: 20px;
}

.img-custom-2{
    position: absolute;
    bottom: 0px;
}

.waves {
    bottom: 0px;
    left: 0px;
}

.position-relative-custom{
    position: relative;
    top: -1.875em;
}

@media screen and (max-width: 767px) {
    .position-relative-custom{
        position: relative;
        top: 0px;
    }
}

.h-custom {
    height: auto;
    min-height: 650px;
}

.title-custom-size {
    font-size: 5vw !important;
    letter-spacing: 0px;
}

@media screen and (max-width: 576px) {
    .title-custom-size {
        font-size: 2.8125rem !important;
        letter-spacing: 0px;
    }
}

.btn-custom {
    border-radius: 0px;
    background-color: var(--secondary-color);
}

.wave{
    width: 100%;
    height: auto;
    position: relative !important;
    bottom: 0px !important;
}

/* ------ Cards --------------- */
#card-1{
    background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.3), rgba(0,0,0,0.9)), url(./media/1.png);
    background-position: center;
    background-size: cover;
    -webkit-box-shadow: 0px 7px 20px -2px rgba(0,0,0,0.4); 
    box-shadow: 0px 7px 20px -2px rgba(0,0,0,0.4);
    
}

#card-2{
    background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.3), rgba(0,0,0,0.9)), url(./media/2.png);
    background-position: center;
    background-size: cover;
    -webkit-box-shadow: 0px 7px 20px -2px rgba(0,0,0,0.4); 
    box-shadow: 0px 7px 20px -2px rgba(0,0,0,0.4);
}

#card-3{
    background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.3), rgba(0,0,0,0.9)), url(./media/3.png);
    background-position: center;
    background-size: cover;
    -webkit-box-shadow: 0px 7px 20px -2px rgba(0,0,0,0.4); 
    box-shadow: 0px 7px 20px -2px rgba(0,0,0,0.4);
}

#card-4{
    background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.3), rgba(0,0,0,0.9)), url(./media/4.png);
    background-position: center;
    background-size: cover;
    -webkit-box-shadow: 0px 7px 20px -2px rgba(0,0,0,0.4); 
    box-shadow: 0px 7px 20px -2px rgba(0,0,0,0.4);
}

#card-lorem{
    border: 0px solid white !important;
    border-radius: 15px;
    -webkit-box-shadow: 0px 7px 10px 0px rgba(0,0,0,0.15); 
    box-shadow: 0px 7px 10px 0px rgba(0,0,0,0.15);
}

#icon-card{
    -webkit-box-shadow: 0px 7px 15px -2px rgba(0,0,0,0.20); 
    box-shadow: 0px 7px 15px -2px rgba(0,0,0,0.20);
    height: 70px;
    width: 70px;
    border-radius: 15px;
}

.min-h-200-custom{
    min-height: 200px;
}

/* 
320 397 */

@media screen and (min-width: 300px) and (max-width: 397px) {
    #icon-card {
        margin-left: 1em !important;
        margin-right: 1em !important;
    }
}


#card-map{
    border: 1px solid rgb(224, 224, 224) !important;
    border-radius: 20px;
    -webkit-box-shadow: 0px 7px 10px 0px rgba(0,0,0,0.15); 
    box-shadow: 0px 7px 10px 0px rgba(0,0,0,0.15);
}


@media screen and (min-width: 768px) {
    #row-2{
        position: relative;
        left: 11%;
    }
}

@media screen and (min-width: 1500px) {
    #row-2{
        position: relative;
        left: 5%;
    }
}

@media screen and (min-width: 768px) {
    #row-4{
        position: relative;
        right: 12%;
    }
}

@media screen and (min-width: 1500px) {
    #row-4{
        position: relative;
        right: 6%;
    }
}

/* ----- Photo rounded ----------------------- */

@media screen and (max-width: 375px) {
    #photo-rounded{
        height: 220px;
        width: auto;
    }
}

@media screen and (max-width: 320px) {
    #photo-rounded{
        height: 180px;
        width: auto;
    }
}

/* ----- Timeline ------------------------- */
#punto-timeline-l{
    position: relative;
}

#punto-timeline-l::before {
    content: "";
    position: absolute;
    right: -18px;
    top: -36px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 3px solid var(--main-color);
    background-color: white;
}

#punto-timeline-l::after{
    content: "";
    position: absolute;
    top: 0px;
    right: -3px;
    height: 100%;
    border: 2px solid var(--main-color);
}

@media screen and (max-width: 767px) {
    #punto-timeline-l::before {
        content: "";
        position: absolute;
        left: -18px;
        top: -36px;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        border: 3px solid var(--main-color);
        background-color: white;
    }
    
    #punto-timeline-l::after{
        content: "";
        position: absolute;
        top: 0px;
        left: -1px;
        height: 100%;
        border-left: 4px solid var(--main-color);
        border-top: unset;
        border-bottom: unset;
        border-right: unset;
    }
}



#punto-timeline-r{
    position: relative;
}

#punto-timeline-r::before {
    content: "";
    position: absolute;
    left: -17px;
    top: -36px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 3px solid var(--main-color);
    background-color: white;
}

#punto-timeline-r::after{
    content: "";
    position: absolute;
    top: 0px;
    left: -1px;
    width: 1px;
    height: 100%;
    border: 2px solid var(--main-color);
}



/* ------ Footer ------------------ */
#footer-row {
    min-height: 550px;
    background: linear-gradient(rgba(255, 255, 255, 1) 5%,rgba(255, 255, 255, 0.9) 10%, rgba(0, 0, 0, 0.5) 70%,  rgba(0, 0, 0, 0.8) 80%, rgba(0, 0, 0, 0.8) 100%), url(./media/footer.jpg) ;
    background-position: center;
    background-size: cover;
}





























































.h-10000 {
    height: 10000px;
}